@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
*border {
    box-sizing: border-box;
}

h1{
    font-family: 'Tangerine', cursive;
    font-size: 80px;

}

.heading-home-page {
    text-align: center;
}

.heading {
    color: #645244;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction:column;
}

nav {
    border-bottom: 1px, solid, black;
    padding: 16px;
    background-color: #EDE4E0;
    border-bottom: 2px solid rgba(159, 135, 114, 0.25);
    color: black;

}

main {
    padding: 16px;
}

img {
    height: 200px;
}

.grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    color: #9F8772;
}

footer {
    background-color: #C8DBBE;
    border-top: 2px solid rgba(159, 135, 114, 0.25);
    padding: 16px;
    color: #645244;
    margin-top: auto;
}

a {
    text-decoration: none;
    color:#645244;
    white-space: nowrap;
}

a:visited {
    color: rgb(145, 89, 194);
}

tr:nth-child(even) {
    background-color: #f5edea;
}

 div:hover{
    box-shadow: rgb(123, 123, 123);
    transition: 1s;
}
